<?xml version="1.0" ?>

<launch>
	<arg name="output" default="log"/>
<!--			LAUNCH OCTOMAP SERVER-->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="$(arg output)">
		<param name="resolution" value="0.05" />
		<param name="frame_id" value="map" />
		<param name="sensor_model/max_range" value="7.0" />
		<param name="latch" value="false" />
		<remap from="cloud_in" to="/rgbd_camera/depth/points" />
	</node>
</launch>

