<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="exploration"/>  <!-- empty, small_office, ... (see ../worlds) -->
  <arg name="robot"  default="full"/>          <!-- full, lower_body, foot -->
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find exploration_world)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find exploration_world)/worlds/ch1.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
