<?xml version="1.0"?>

<model>
  <name>Jonathan Cacace</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jonathan Cacace</name>
    <email>jonathan.cacace@gmail.com</email>
  </author>

  <description>
		QR marker with id2 for leonardo challange, 50cm
  </description>
</model>
