<?xml version="1.0"?>

<model>
  <name>Jonathan Cacace</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jonathan Cacace</name>
    <email>jonathan.cacace@gmail.com</email>
  </author>

  <description>
		Starting position for Leonardo challange
  </description>
</model>
